{% extends "plantilla.html" %}

{% block title %}Carga de productos{% endblock %}

{% block content %}

<div class="carga">
    <h3>Ingrese un nuevo producto</h3>
    <form action="/carga_producto" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Ingrese nombre del producto" required>
        <label for="nombre">Descripción:</label>
        <input type="text" name="descripcion" placeholder="Ingrese descripción del producto" required>
        <label for="nombre">Talle:</label>
        <input type="text" name="talle" placeholder="Ingrese talle del producto" required>
        <button type="submit">Guardar</button>
    </form>
</div>
{% endblock %}