{% extends "plantilla.html" %}

{% block title %}Carga de productos{% endblock %}

{% block content %}

<div class="carga">
    <h3>Ingrese un nuevo producto</h3>
    <form action="/carga_producto" method="POST">
        <input type="text" name="nombre" placeholder="Ingrese nombre del producto" required>
        <input type="text" name="descripcion" placeholder="Ingrese descripción del producto" required>
        <input type="number" name="precio" placeholder="Ingrese precio del producto" required>
        <input type="text" name="talle" placeholder="Ingrese talle del producto" required>
        <input type="date" name="fechaingreso" placeholder="Ingrese fecha de ingreso del producto" required>
        <input type="number" name="cantidad" placeholder="Ingrese cantidad del producto" required>
        <button type="submit">Guardar</button>
    </form>
</div>
{% endblock %}