{% extends "plantilla.html" %}

{% block title %}Editar producto{% endblock %}

{% block content %}

<div class="carga">
    <h3>Edite el producto</h3>
    <form action="/editar_producto/{{ producto['id_producto'] }}" method="POST">
        
        <label for="nombre">Nombre:</label>
        <input type="text" id_producto="nombre" name="nombre" value="{{ producto['nombre'] }}" required><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" id_producto="descripcion" name="descripcion" value="{{ producto['descripcion'] }}" required><br>

        <label for="talle">Talle:</label>
        <input type="text" id_producto="talle" name="talle" value="{{ producto['talle'] }}" required><br>

        <button type="submit">Guardar cambios</button>
    </form>
</div>
{% endblock %}