<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My App{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='plantilla1.css') }}">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="barra">
        <a class="{% if request.path == '/' %}active{% endif %}" href="/">Inicio</a>
        {% if mostrar_productos %}
            <a class="{% if request.path == '/productos' %}active{% endif %}" href="/productos">Productos</a>
            <a class="{% if request.path == '/stock' %}active{% endif %}" href="/stock">Stock</a>
            <a class="{% if request.path == '/ventas' %}active{% endif %}" href="/ventas">Ventas</a>
        {% endif %}
    </div>

    

    {% block content %}hj{% endblock %}
</body>
</html>

