{% extends "plantilla.html" %}

{% block title %}Productos{% endblock %}

{% block content %}

    <!-- Tabla de productos -->
    <div class="tabla_productos">
        <div class="contenedor-superior">

            <div class="contenedor-botones">
                <!-- Botón que lleva a otra página -->
                <a href="/carga_producto" class="boton">Cargar Producto</a>
                
                <!-- Para mostrar los productos nuevamente, luego de buscar alguno -->
                <a href="/productos" class="boton">Volver a productos</a>
            </div>

            <!-- Buscador de productos -->
            <div class="buscador-productos">
                <form method="GET" action="/buscar_producto", class="buscador-form">
                    <input type="text" name="query" placeholder="Ingrese el nombre del producto" />
                    <button type="submit">Buscar</button>
                </form>
            </div>

        </div>
           

        
        <h3>Tabla de productos</h3>
        <table style="border-spacing: 28px 0;">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Talle</th>
                    <th>Fecha de ingreso</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.talle }}</td>
                    <td>{{ producto.fechaingreso }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td><!--Acciones-->
                        <a href="{{url_for('editar_producto', id=producto.id) }}"><img src="{{ url_for('static', filename='editar.jpg') }}" height="20" width="20"></a>
                        <a href="{{ url_for('eliminar_producto', id=producto.id) }}"><img src="{{ url_for('static', filename='borrar.jpg') }}" height="20" width="20"></a>
                        <a href="{{ url_for('venta_producto', id=producto.id) }}"><img src="{{ url_for('static', filename='venta.png') }}" height="23" width="23"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>

{% endblock %}