{% extends "plantilla.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Hello perras, esta es mi página de inicio</h1>
   
    <!--Extraemos información del diccionario que obtenemos de la query que le realizamos a la base de datos-->
    {% for empleado in empleados %}
        <h2>{{empleado.nombre}}</h2>
    
    {% endfor %}

    {% for prenda in ropa %}
        <h2>{{prenda.nombre}}</h2>
    
    {% endfor %}

    <!--Enviamos información desde el html a app.py para crear una prenda-->
    <form action="/db" method="POST">
        <input type="text" name="nombre" placeholder="Ingrese nombre del producto" required>
        <input type="text" name="descripcion" placeholder="Ingrese descripción del producto" required>
        <input type="number" name="precio" placeholder="Ingrese precio del producto" required>
        <input type="text" name="talle" placeholder="Ingrese talle del producto" required>
        <input type="date" name="fechaingreso" placeholder="Ingrese fecha de ingreso del producto" required>
        <input type="number" name="cantidad" placeholder="Ingrese cantidad del producto" required>
        <button type="submit">Guardar</button>
    </form>


{% endblock %}
