{% extends "plantilla.html" %}

{% block title %}Stock{% endblock %}

{% block content %}
    <!-- Tabla de productos en stock -->
    <div class="tabla_productos">
        <h3>Esta página esta dedicada al stock</h3>
        <p>Los botones aun no funcionan</p>
        <div class="contenedor-superior">
            <div class="contenedor-botones">
                <!-- Botón que lleva a otra página -->
                <a href="/carga_producto" class="boton">Cargar Producto</a>
            </div>
            <!-- Buscador de productos -->
            <div class="buscador-productos">
                <form method="GET" action="/buscar_producto", class="buscador-form">
                    <input type="text" name="query" placeholder="Ingrese el nombre del producto" />
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <h3>Tabla de productos en stock</h3>
        <table style="border-spacing: 28px 0;">
            <thead>
                <tr>
                    <th>Nombre del producto</th>
                    <th>Unidades</th>
                    <th>Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.nombre }}</td>
                    <td>{{ stock.cantidad }}</td>
                    <td>{{ stock.fechaingreso }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock %}